/* .para{
background-color:red;
color: blue;
margin: 10px;
padding: 10px;
opacity: 0.6;
} */
body{

  /* background: fixed;
  background-image: url("/Img/Cup-Of-Creamy-Coffee-500x375.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain; */
  /* background: #895757 url("/Img/mb_img_58.jpg") repeat right top ;
  background-size: 500px; */
}
/* div{
  color: #895757;
  background-color: black;
} */

/* #my-div{

background-color:red;
color: aqua;
margin: 20px;
padding: 20px;
} */